#miniLogo {
  transition: .2s ease-in-out
}

#miniLogo:hover {
  transform: rotate(80deg);
  cursor: pointer;
}

.fullContainer {
  display: flex;
}

.mainContent {
  flex-grow: 1;
  padding-left: 300px;
}

#globalSearchbar {
  transition: .5s all ease;
  width: 400px !important;
  text-align: center !important;
  border-radius: 10px;
  position: relative;
  right: 50px;
}

#menuButtonCont{
  display: inline-block;
  width: fit-content;
  height: 100%;
  position: relative;
}

#menuButton {
  font-size: 2.2rem;
  transition: .2s ease-in-out;
  position: absolute;
  top: -60px;
  left: 10px;
}

#menuButton:hover {
  transform: rotate(90deg) scale(1.05);
}

#textLogoCont {
  margin-left: 40vw;
  display: inline-block;
}

#textLogo{
  height: 100px;
}

.authenticationLink:hover{
  font-size: 20px;
  color: orange;
}


@media (max-width: 1230px) {

  #menuButton {
    font-size: 2rem;
  }

  #textLogoCont {
    margin-left: 30vw;
  }

  #globalSearchbar {
    width: 200px !important;
  }

  #globalSearchbar:focus {
    width: 300px !important;
  }

}

@media (max-width: 910px) {

  #textLogo{
    height: 75px;
  }  

  #globalSearchbar {
    width: 150px !important;
  }

  #globalSearchbar:focus {
    width: 250px !important;
  }
}

@media (max-width: 700px) {
  #globalSearchbar:focus {
    width: 350px !important;
    margin-right: 250px !important;
  }
}

@media (max-width: 600px) {

  #textLogo{
    height: 50px;
  }

  #textLogoCont {
    margin-left: 30vw;
  }
  
  #menuButton {
    font-size: 1.5rem;
    top: -35px;
    left: 10px;
  }

  #globalSearchbar {
    width: 100px !important;
    right: 25px;
  }

  #globalSearchbar:focus {
    position: relative;
    right: 100px;
    width: 250px !important;
  }

}