.ci-recipes{
    background-image: url('./../../../../../assets/imgs/recipesLogo.png');
}

.ci-utensils{
    background-image: url('./../../../../../assets/imgs/utensilsLogo.png');
}

.ci-ingredients{
    background-image: url('./../../../../../assets/imgs/ingredientsLogo.png');
}

.ci-techniques{
    background-image: url('./../../../../../assets/imgs/techniquesLogo.png');
}


.ci-pantry{
    background-image: url('./../../../../../assets/imgs/pantryLogo.png');
}

.ci-my-ingredients{
    background-image: url('./../../../../../assets/imgs/myIngredientsLogo.png');
}

.ci-kitchen-essentials{
    background-image: url('./../../../../../assets/imgs/kitchenEssentialsLogo.png');
}

.ci-shop{
    background-image: url('./../../../../../assets/imgs/shopLogo.png');
}